@font-face{
  font-family: 'Primetime';
  src: url('fonts/PRIMETIME.TTF');
}

@font-face{
  font-family: 'Gotham';
  src: url('fonts/GOTHAMBOLD.TTF');
}

@font-face{
  font-family: 'Freehand-Bold';
  src: url('fonts/FREEHAND\ BLOCKLETTER\ BOLD.TTF');
}

@font-face{
  font-family: 'Freehand';
  src: url('fonts/FREEHAND\ BLOCKLETTER.TTF');
}

html{
  scroll-behavior: smooth;

}
body {
  font: 400 15px/1.8 'Gotham';
  color: #E8E8E8; 
  background-image: url("images/blue_bg.png");   
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  font-family: 'Primetime', Monserrat;
  margin-bottom: 0;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}


.navbar li a, .navbar .navbar-brand { 
  color: #0C0C0C !important;
}
.navbar-nav li a:hover {
  color: #E01B1B !important;
}
.navbar-toggler{
  overflow: hidden;
  margin: 0;
  padding:10px;
  position: inline;
  float:right;
  /* background: url("icons/10kpx_color_icon.png") */
}
.navbar-default  {
  border-color: transparent;
}
.navbar-header {
  padding-bottom: 10px;
}
#logo{
  height: 40px;  
}

.item{
  padding: 30px;
  background-color: #09162A;
}
.bluebg{
  background: linear-gradient(180deg, rgba(9,22,42,0) 30%, rgba(9,22,42,1) 100%);
  position: relative;
  height: 100%;
  width: 100%;  
  padding: 0;
  margin:0;
}
.free-flying{
  padding-top: 15vh;
}


.watch-now{
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.spray-animation{
  width: 0%;
  opacity: 0.5;
  left: 0;
  right: 0;
  margin: auto
}

.watch-now-container:hover .spray-animation{
  cursor: pointer;
  width: 40%;
}

.bgimg-1 img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bgimg-1{
  position: relative;
  width: 100%;
  min-height: 100%;
  background: url("images/banner.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .bgimg-1{
    background-image: url("images/banner.png");
  }
}
@media screen and (max-width: 700px) and (min-width: 400px){
  .bgimg-1{
    background-image: url("images/main_banner_image.png");
  }
  .bgimg-1 img{
    width: 50%;
  }
  .watch-now{
    width: 40%;
  }
  .watch-now-container:hover .spray-animation{
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .bgimg-1{
    background-image: url("images/main_banner_image.png");
  }
  .bgimg-1 img{
    width: 70%;
  }
  .watch-now{
    width: 60%;
  }
  .watch-now-container:hover .spray-animation{
    width: 70%;
  }
}


#about{
  background: linear-gradient(0deg, rgba(9,22,42,0.1) 0%, #09162A 100%);
}

.accolades{
  padding-bottom: 100px;
}
.accolades img{
  width: 100%;
}
/*
 * Bootrap carousel plugin
 * --------------------------------------------------
 */

.col-sm-8{
  padding: 100px 0;
}
.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; 
   overflow: hidden;
   margin-bottom: -1px;
   margin-right: -1px;   
   border-radius: 10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;  
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}
  
.carousel-control .glyphicon-chevron-left{
  top:35%;
  font-size: 20px;
  left:5%;
  margin: 0;
}

.carousel-control .glyphicon-chevron-right{
  top:35%;
  font-size: 20px;
  left:33%;
  margin: 0;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #ffffff;
  top: 50%;
  transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  opacity: 1;
  height:120px;
}

.controls{
   display: none;
}

.carousel-control:hover {
  text-decoration: none;
  filter: alpha(opacity=60);
  outline: 0;
  opacity: 0.6;
}

.left-button {
  height:70px;
  width:35px;
  border-radius: 0 90px 90px 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  background-color: #09162A;
  display: block;
  position: relative;
  float:left;
  /*subpixel bug*/
  margin-left: -1px; 
}
@media screen and (max-width:684px){
  .above_links_line{
    width:50%;
  }
}
.right-button {
  height:70px;
  width:35px;
  border-radius: 90px 0 0 90px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  background-color: #09162A;
  display: block;
  position: relative;
  float:right;
  /*subpixel bug*/
  margin-right: -1px;
}


.carousel-caption {
 display: none;
 background: none repeat scroll 0 0 #09162A;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  opacity: 1;
  padding:7px 30px 7px;
  text-transform: uppercase;
  z-index:11;
  pointer-events:none;
}


#about, #crew{
  color: #E8E8E8;
  text-align:center;
  padding:60px 80px;
}
#crew .name, #crew h1{
  font-family: "Freehand-Bold";
}

#crew .name{
  
  font-size: 20px;
}

hr{
  width:20%;
  text-align:center;
  height:3px;
  color:#E8E8E8;
  background-color:#E8E8E8;
  border-radius: 7px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 40px;
  
}
.name{
  padding: 20px 0;
  text-align: center;
}
.image{
  
  position: relative;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 7px;
}

.overlay {
  position: absolute;
  top: 4px;
  z-index: 2;
  width: 50%;
  height: 0;
  background-color: #09162A;  
  right: 0;
  overflow: hidden; 
  
}
#bottom-right, .text, .handle, .overlay, #stripes{
  opacity: 0;
  position: absolute;
}
.handle{
  color: #E8E8E8;
  font-size: 10px;  
  text-align: left;
  top: 0;
  left: 0;
  padding: 10px;
}
.text{
  color: #E8E8E8;
  font-size: 10px;  
  text-align: right;  
  bottom: 0;
  right: 0;
  width: 0;
  padding: 10px;
}


.column:hover #bottom-right{
  border-bottom: 150px solid #09162A;
  border-left: 150px solid transparent;
  bottom: 0px;
  height: 0;
  opacity: .95;
  position: absolute;
  right: 0px;
  width: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.overlay{
  height: 100%;
  width: 100%;
}
.column:hover{
  cursor: pointer;
}
.column:hover .overlay{
  opacity: 100%;
  width: 100%;
  background: linear-gradient(180deg, #09162A 0%, rgba(255,255,255,0) 100%);
}

.column:hover .text, .column:hover .handle {
  opacity: 100%;
  transition: 0.5s ease;
  width: 100%;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}

footer {
  background-color: #E8E8E8;
  color: #0C0C0C;
  padding: 32px;
}
.buttons{
  margin: 0 auto;
  display: table;
  
}

.socialmediaButton{
  background-color: transparent;
  border: none;
  vertical-align: middle;
  padding: 0 30px;
}

.socialmediaButton img{
  height: 40px;
}

.insta-onhover, 
.fb-onhover,
.twitter-onhover,
.vimeo-onhover,
.youtube-onhover{
  display: none;
}
.sm-text{
  visibility: hidden;
}

.tenkpx-dots{
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}